html, body, div,
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: min(1vw, 2vh);
}


h2 {
    font-family: monospace;
    font-size: 36em;
}

h3 {
    font-family: FranklinGothic, Verdana, Arial, sans-serif;
    font-size: 5em;
    font-weight: normal;
}

#textWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*background-color: #FFF;*/
}


#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #FFF;*/
}

.progress {
    position: absolute;
    top: 80%;
    left: 0;
    height: 20%;
    width: 0;
    transition-timing-function: linear;
    background-color: blue;
    /*z-index: 1;*/
}

.progress.active {
    width: 100%;
}

.hidden {
    display: none;
}
