html, body, div, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: min(1vw, 2vh);
}

h1 {
    font-family: FranklinGothic, Verdana, Arial, sans-serif;
    font-size: 46em;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: monospace;
    font-size: 36em;
    text-align: center;
}

.progress {
    position: absolute;
    top: 80%;
    left: 0;
    height: 20%;
    width: 0;
    transition-timing-function: linear;
    transition-property: width;
    background-color: blue;
}

.progress.active {
    width: 100%;
}

.hidden {
    display: none;
}
